@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.Buttons{
  margin-left: 90px;
}

.Buttons h1{
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4F4F4F;

  margin-bottom: 28px;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-container{
  margin-bottom: 45px;
  margin-right: 150px;
}

@media screen and (max-width: 480px) {
  .btn-container{
    margin-bottom: 35px;
  }
  .Buttons{
    margin-left: 50px;
  }
}